@import '@/shared/assets/scss/_vars.scss';
@import '@/shared/assets/scss/_mixin.scss';

.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  
  @include mobile {
    overflow-x: hidden;
  }
}

.main {
  padding-top: 70px;
  max-width: $desktop;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  
  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  @include mobile {
    padding-left: 12px;
    padding-right: 12px;
  }
}
